
@{
    ViewData["Title"] = "Employee";
}

<html>
<body>
    <br />
    Employee Name : @Model.Name <br />
    Employee Designation: @Model.Designation <br />

    Company : @ViewBag.Company <br />
    Company Location: @ViewData["CompanyLocation"] <br />
    
    Company 2 : @ViewData["Company"] <br />
    Company Location 2: @ViewBag.CompanyLocation <br />
</body>
</html>
